.header {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    &__inner {
        display: flex;
        justify-content: space-between;
        &--left {
            max-width: 230px;
            height: auto;
        }
        &--right {
            font-size: 1.8rem;
            font-weight: 500;
            ul {
                display: flex;
                li {
                    padding-left: 40px;
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}